<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
    </head>
    <body>
      {{.Json}}
    </body>
</html>